body{
    font-family: "Inter", sans-serif;
    background: #f5f7fa;
    margin: 140px;
    padding: 50px;
}
.container{
    max-width: 700px;
    margin:auto;
    background: white;
    padding: 20px 40px;
    border-radius: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background: #1a73e8;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.spisok1{
    color: #7c7c7c;
    margin-bottom: 20px;
}

.card1, .card2, .card3{
    display: flex;
    gap: 15px;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}
.card1 input,.card2 input,.card3 input{
    width: 22px;
    height: 22px;
}
.content1, .content2, .content3{
    width: 100%;
}
.top1, .top2, .top3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.mathem1, .mathem2{
    background: #2573f0;
    padding: 4px 10px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}
.history{
    background: #ff7b29;
    padding: 4px 10px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}
.status1{
    color: #000;
    font-size: 15px;
}

.status2{
    color: #8b8b8b;
    font-size: 15px;
}
.status3{
    color: #e60000;
    font-size: 15px;
}
h3{
    margin: 8px 5px ;
    font-size: 19px;
}
.vprava, .spisok2, .vprava2{
    color: #434343;
    margin-bottom: 10px;
}
.chislo1, .shiclo2, .shiclo3{
    color: #6a6a6a;
    font-size: 15px;
}
.chislo1 p,.shiclo2 p,.shiclo3 p{
    font-weight: 600;
}
.chislo1, .shiclo2, .shiclo3, .date1, .date2, .date3{
    display: inline-block;
    margin: 0;
}
.date1, .date2, .date3{
    color: #6a6a6a;
}
