* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primary-color:black;
}
.logo{
    color: var(--primary-color)
}
body {
    background: #f8f9fc;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 55px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 20px;
}

nav a.active {
    color: #2d6cdf;
}

.avatar img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


.main {
    padding: 40px 20px;
    flex: 1
}

.main h2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    justify-content: center;
}

.card {
    width: 330px;
    height: 150px;
    background: #fff;
    border-radius: 22px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background: #e8f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box img {
    width: 35px;
    height: 35px;
}

.card h2 {
    font-size: 22px;
    font-weight: 600;
}

.card p {
    font-size: 16px;
    color: #4d4d4d;
    margin-top: 4px;
}

.table {
    width: 100%;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
}

.table th {
    text-align: left;
    padding: 16px 20px;
    background: #f1f3f9;
    font-size: 18px;
}

.table td {
    padding: 16px 20px;
    font-size: 17px;
    border-bottom: 1px solid #e6e6e6;
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
}

.table-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

.table-center {
    width: 100%;
    display: block;
}

.arbuz {
    background-color: #e8effc;
    padding: 40px;
    margin: 40px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}
.container{
  max-width: 1400px;
  margin: auto;
  margin: 0 auto;
  padding: 0 20px;
}