* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Register-box {
  background: #ffffff;
  width: 380px;
  padding: 50px 45px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
}

.Register-box h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.Register-box h2 {
  color: #161616;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  font-size: 17px;
}

.btn {
  background: #1e80ff;
  color: white;
  width: 410px;
  padding: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0067ff;
}