body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-block {
    background: #fff;
    padding: 45px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 330px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form-input {
    text-align: left;
    margin-bottom: 18px;
}

.form-input input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 17px;
}

a{
    margin: 10px;
    display: block;
    width: 260px;
    padding: 13px 40px;
    background: #1e80ff;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.login-btn:hover {
    background: #0067ff;
}